html {
  height: 100%;
  font-family: Helvetica, Arial, Times, sans-serif;
}
body {
  background-color: #FFECEC;
  text-align: left;
  font-family: Helvetica, Arial, Times, sans-serif;
  margin: auto
}
form {
  padding-bottom: 1.5em;
  margin: auto;
  font-family: Helvetica, Arial, Times, sans-serif;
}
h1 {
  font-weight: bold;
  font-size: 60pt;
  font-family: Helvetica, Arial, Times, sans-serif;
  margin-bottom: 10%;
}
p {
  font-size: 100%;
  font-family: Helvetica, Arial, Times, sans-serif;
  font-weight: normal;
  margin: auto;
  text-align: center;
}
h3 {
  font-weight: normal;
  font-size: 45pt;
  font-family: Helvetica, Arial, Times, sans-serif;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  margin-bottom: 30%;
}
label {
  font-size: 25pt;
  font-weight: normal;
  font-family: Helvetica, Arial, Times, sans-serif;
  margin: auto;
  padding: 20px;
  height: 10px;
}
input {
  text-align: center;
  width: 65%;
  padding: 15px;
  margin: auto;
  border: none;
  background-color: #F3FFEC;
  font-family: Helvetica, Arial, Times, sans-serif;
}
textarea {
  background-color: #F3FFEC;
  margin: auto;
  font-family: Helvetica, Arial, Times, sans-serif;
}
div {
  text-align: left;
  font-family: Helvetica, Arial, Times, sans-serif;
}

@media only screen and (min-width: 720px) {
  html {
    height: 100%;
    font-family: Helvetica, Arial, Times, sans-serif;
  }
  body {
    min-height: 100%;
    background-color: #FFECEC;
    font-family: Helvetica, Arial, Times, sans-serif;
  }
  h1 {
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 100%;
    text-align: center;
    margin-bottom: 10%;
    font-family: Helvetica, Arial, Times, sans-serif;
  }
  p {
    font-size: 100%;
    font-family: Helvetica, Arial, Times, sans-serif;
    font-weight: normal;
    margin: auto;
    text-align: center;
  }
  h3 {
    padding: 20px;
    font-weight: normal;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 30%;
    font-family: Helvetica, Arial, Times, sans-serif;
  }
  label {
    font-size: 1.5em;
    font-family: Helvetica, Arial, Times, sans-serif;
    margin: auto;
  }  
  input {
    text-align: center;
    width: 45%;
    padding: 25px;
    border: none;
    background-color: #F3FFEC;
    font-size: 1.5em;
    margin: auto;
    font-family: Helvetica, Arial, Times, sans-serif;
  }
  textarea {
    background-color: #F3FFEC;
    font-family: Helvetica, Arial, Times, sans-serif;
    margin: auto;
  }
  div {
    text-align: left;
    font-family: Helvetica, Arial, Times, sans-serif;
  }
}

@media only screen and (min-width: 325px) {
  html {
    height: 100%;
    font-family: Helvetica, Arial, Times, sans-serif;
  }
  body {
    min-height: 100%;
    background-color: #FFECEC;
    font-weight: normal;
    margin: auto;
    font-family: Helvetica, Arial, Times, sans-serif;
  }
  h1 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 10%;
    font-family: Helvetica, Arial, Times, sans-serif;
  }
  p {
    font-size: 100%;
    font-family: Helvetica, Arial, Times, sans-serif;
    font-weight: normal;
    margin: auto;
    padding: 10px;
    text-align: center;
  } 
  h3 {
    font-weight: normal;
    text-align: center;
    font-family: Helvetica, Arial, Times, sans-serif;
    padding: 25px;
    margin-bottom: 30%;
  }
  label {
    font-family: Helvetica, Arial, Times, sans-serif;
    margin: auto;
    padding: 20px;
  } 
  input {
    text-align: center;
    border: none;
    background-color: #F3FFEC;
    font-family: Helvetica, Arial, Times, sans-serif;
    margin: auto;
    padding:10px;
  }
  textarea {
    background-color: #F3FFEC;
    marrgin: auto;
    font-family: Helvteica, Arial, Times, sans-serif;
    padding: 10px;
  }
  div {
    text-align: left;
    font-family: Helvetica, Arial, Times, sans-serif;
  }
}
